{% if domain is undefined %}
    {% if 'local.lan' in inventory_hostname %}
        {{ inventory_hostname }}
    {% else %} 
        {{ inventory_hostname + '.local.lan' }}
    {% endif %} 
{% elif domain is defined %}
   {% if (inventory_hostname).split('.')|length >= 3 %}
       {{ inventory_hostname }}
   {% else %}
       {{ inventory_hostname + '.' + domain }}
   {% endif %}
{%- endif -%}
