{% set subscription = tags | regex_search('rhel[7-8]') %}
{% if 'satellite' in tags %}
    {% if 'rhel8' in tags %}
subscription-manager register --username {{ redhat_username }} --password {{ redhat_password }};
dnf install python39 -y;
    {% endif %}

{% elif 'satellite' not in tags and 'autosubscribe' in tags %}
{% if satellite_server is undefined %}
subscription-manager register --username {{ redhat_username }} --password {{ redhat_password }};


{% if subscription == 'rhel8' %}
dnf install python39 -y;
update-alternatives --remove python /usr/libexec/no-python;
alternatives --set python /usr/bin/python3.9;
{% endif %}


subscription-manager register --username {{ redhat_user }} --password {{ redhat_pass }};
{% endif %}
truncate -s 0 /var/log/secure 
