major_version=$(rpm -q --queryformat '%{RELEASE}' rpm | grep -o [[:digit:]]*\$)
if [ ${major_version} == '8' ];then
    {# we need to install python3 on rhel8 before we can actually do anything at all #}
    subscription-manager register --username {{ redhat_user }} --password {{ redhat_pass }}
    dnf install python3 -y
    {% if satellite_params is defined %}
    subscription-manager unregister 
    curl -k https://{{ satellite_params['baseurl'] }}/pub/bootstrap.py | python3 - -l {{ satellite_params['username'] }} \
    -p {{ satellite_params['password'] }} -s {{ satellite_params['baseurl'] }} \
    -o {{ satellite_params['organization'] }} -L {{ satellite_params['location'] }} \
    -a rhel8_activation_key_{{ lifecycle|default('prod') }} -g RHEL8_{{ lifecycle|default('PROD') }} --force
    {% endif %}
elif [ ${major_version} == '9' ];then
    {% if satellite_params is defined %}
    curl -k https://{{ satellite_params['baseurl'] }}/pub/bootstrap.py | python3 - -l {{ satellite_params['username'] }} \
    -p {{ satellite_params['password'] }} -s {{ satellite_params['baseurl'] }} \
    -o {{ satellite_params['organization'] }} -L {{ satellite_params['location'] }} \
    -a rhel9_activation_key_{{ lifecycle|default('prod') }} -g RHEL9_{{ lifecycle|default('PROD') }} --force
    {% else %}
    subscription-manager register --username {{ redhat_user }} --password {{ redhat_pass }}
    {% endif %}
fi
truncate -s 0 /var/log/secure 